body {
    font-family: Arial;
    line-height: 20pt;
}

.textContainer {
    width:70%;
    margin: 0 auto;
    padding-top: 5%;
    font-size: 14pt;
    position: relative;
    text-align: justify;
}

.wikDes {
    margin: 20px 0px;
}

.wikSig {
    font-weight: 800;
    position: absolute;
    right: 0px;
    margin-bottom: 25px;
}

.pageGrid {
    width: 70%;
    padding-top: 50px;
    margin: 0 auto;
}

.otherMedia {
    width: 70%;
    margin: 0 auto;
}

.slogan {
    width: 70%;
    margin: 0 auto;
    font-size: 12px;
    text-align: center;
    line-height: 18px;
}

.footer {
    width: 70%;
    margin: 0 auto;
}

.link {
    display: inline;
    font-size: 12px;
    margin-left: 10px;
}

a {
    text-decoration: none;
    color: darkslateblue;
}